body{
    background-color: #BB8EA6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
main{
    background-color: #FFFFFF;
    color:#BB8EA6 ;
    width: 50%;
    border-radius: 20px;
    padding: 1.5em;
    box-shadow: 0 0 50px  black;
    position: absolute;
    
}
header{
    color: #A06484;
}
section{
    color: #BB8EA6;
    margin: auto;
}


.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content{
    width: 60%;
}

input[type="checkbox"]{
    -webkit-appearance: none;
    position: relative;
    background-color: lightgray;
    color: white;
    height: 40px;
    width: 90px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background .5s;
    outline: none;
}
input[type="checkbox"]::after{
    content: "";
    position:absolute;
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    top: 5px;
    left: 10px;
}
input[type="checkbox"]:checked{
    background-color:#BB8EA6; 
}
input[type="checkbox"]:checked::after{
    left: 50%;
}
input[type="button"]{
    background-color: #FF9292;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
}
/* ====================== */
/* modal window settings */
/* ==================== */
#modal-window{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-cont{
    position: absolute;
    top: 80px;
    right: 80px;
    bottom: 80px;
    left: 80px;
    border-radius: 5px;
    background-color: black;
    transition: all .4s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.modal-cont input{
    font-size: xx-large;
    outline: none;
    border-radius: 25px;
    padding-left: 20px;
}
.cancel-btn-cont{
    display: flex;
    justify-content: flex-end;
    width:25%;
    padding: 1em;

}
.cancel-btn-cont button {
    margin-left: .7em;
    flex-grow: 1;
    font-size: larger;
    padding: 5px;
    border-radius: 25px;

}
/* ============================= */
/* Second Modal window settings */
/* =========================== */
.modal-two{
    position: absolute;
    top: 80px;
    right: 80px;
    bottom: 80px;
    left: 80px;
    border-radius: 10px;
    background-image: url('../images/patternpad.png');
    transition: all .4s ease-in;
}
.close-btn-container{
    display: flex;
    justify-content: flex-end;
    margin: 1em;
}
.close-btn:hover{
    background-color: red;
}
.close-btn{
    position: relative;
    height: 4em;
    width: 4em;
    background-color: black;
    border: none;
    transition: background .4s ease-in;
}
.close-btn::before{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 70%;
    transform: translate(-20px, 5px) rotate(43deg);
}
.close-btn::after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 70%;
    transform: translate(-20px, -10px) rotate(135deg);
}
.close{
    position: relative;
    background-color: black;
    color: white;
    opacity: 0;
}
.close:hover{
    transform: translateY(-35px);
    opacity: 1;
}

.body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    flex-direction:column;
}
.content-cont{
    background-color: aliceblue;
    padding: 5em;
    border-radius: 20px; 
} 
.content-cont h1 {
    font-size: xx-larg;
}

.protest-riot-regular {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
  }
  
     